body{
  background-color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
overflow-x: hidden;
}

ul{
  background-color: #058801; 
  border-radius: 50px;
  color: white;
  transition: 0.3s;
}
ul:hover{
  background-color: #44dc3f; 
}
.active{
  color: #fff !important;
  font-weight: bold;
}

.card{
  border-radius: 20px !important;
}
.intro-cards .card i{
  padding: 5% !important;
  margin: 2% !important;
}
.heading{
color: #44dc3f;
font-weight: bold;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-transform: capitalize;
}
.heading1{
color: #058801;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-transform: capitalize;
}

/* ?cards */
.card:hover{
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(0px 0px 10px green);
  transition: .50s;
  transform: scale(1.05);
}
.card-group .card{
  padding: 0%;
  margin: 2%;
  align-items: center;
}
.card-group {
  padding: 3%;
  margin: 2%;
  /* padding-left: 10%; */
  align-items: center;
}
.card-group .card-body{
  max-height: 0%;
  max-width: 90%;
}
.card-group .card-img-top{
padding: 10%;
  max-height:50%;
  max-width: 90%;
  object-fit: cover;
}
/* Back to top button */
#toTopBtn {
  position: fixed;
 bottom: 26px;
 right: 39px;
 z-index: 98;
 padding: 21px;
 background-color:green;
 border-radius: 20px;
}
.js .cd-top--fade-out {
  opacity: .5;
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s,visibility .3s,background-color .3s;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0,0,0,.05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: green;
  background-color: hsla(var(--cd-color-3-h),var(--cd-color-3-s),var(--cd-color-3-l),0.8);
}

.container2 {
  max-width: 100%;
  /* margin: 40px auto; */
  
  padding: 20px;
  border-radius: 8px;
 
  color: white;
}

.content-section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-content2 {
  max-width: 70%;
}

#form-logo{
  height: 50px;
  width: 300px;
  margin-top: 45%;

}
#form{
  /* background-color: slategray; */
  max-width: 70%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.responsive-image2{
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.responsive-image2:hover{
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(0px 5px 15px  green);
  transition: .50s;
  transform: scale(1.05);
}

footer{
  border-radius: 10px;
  background-color: #058801 !important;
}
#footer-logo{
  font-family:inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 500%;
  font-weight: 900;
  opacity: 0.2;
  padding: 0 !important;
  margin: 0 !important;

}
.btn-success{
  background-color: #44dc3f !important; 
  border-radius: 25px !important;
}
.btn-success:hover{
  background-color: #058801 !important; 
  color: black !important;
}
.form-control{
  border-radius: 25px !important;
}

/* gallery */
/* image gallery */
.gallery .section {
  margin: 2rem;
  margin: auto;
  padding: 2rem;
}

.gallery .grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 25 0px;
  grid-auto-flow: row dense;
}

.gallery img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: red;
  grid-column-start: auto;
  grid-row-start: auto;
  color: red;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  object-fit: cover;
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery img:after {
  opacity: 0;
}


.gallery img --medium {
  grid-row-end: span 2;
}

.gallery img --large {
  grid-row-end: span 3;
}

.gallery img --full {
  grid-column-end: auto;
}

.gallery img __details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}

.gallery img:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}
.d-block {
  object-fit: cover;
}
/* button hovers */
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



/* button glow */
button {
  margin: 12px;
}
.btn-default {
  background-color: #000;
  color: #ffe100;
}


@keyframes glowing {
  0% { box-shadow: 0 0 -10px #4CAF50; }
  40% { box-shadow: 0 0 20px #4CAF50; }
  60% { box-shadow: 0 0 20px #4CAF50; }
  100% { box-shadow: 0 0 -10px #4CAF50; }
}

.button-glow {
  animation: glowing 5000ms infinite;
}



/* chatbot */
#logo-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color:green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#chat-container {
  
  position: fixed;
  bottom: 80px;
  left: 50px;
  border-radius: 25px;
  border: 1px solid white;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #4CAF50;
  font-size: 14px;
  transition: all 0.3s ease;
  max-height: 100%;
  max-width: 80%;
  display: none;
  flex-direction: column;
  animation: slideIn 0.5s ease;
  z-index: 999;
  background-color: #000000;
}

@keyframes slideIn {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}

#minimize-button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

#chat-messages {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;  
}

#options {
  display: flex;
  border-radius: 25px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  background-color: #058801; 
}

#options button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px;
}


#options button:hover {
  background-color: #44dc3f; 
  color: #000;
}

.message-container {
  display: flex;
  margin: 5px 0;
  
}

.message-container strong {
  margin-right: 5px;
}

.message {
  background-color: #44dc3f; 
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 25px;
  margin-right: auto;
  max-width: 80%;

}
.message-you {
  background-color: #058801; 
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 25px;
  margin-right: auto;
  max-width: 80%;
}

.bot-message {
  background-color: #000000;
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/* media queris */
@media only screen and (max-width: 600px) {
  img .card-img-top{
width: 100%;
height: 100%;
object-fit: cover;
  }
  .heading{
    color: #44dc3f;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: large;
    }
    .d-block {
      object-fit: cover;
    }
  ul{
    background-color: #058801; 
    border-radius: 10px !important;
    color: white;
    transition: 0.3s;
  }
  .text-content2 {
    max-width: 99%;
  }
  #form-logo{
    display: none;
  }
  #logo-mob{
    display: none;
  }
  .responsive-image2{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  .navbar-brand{
    /* width: 600px !important; */
    margin: 0;
  }
 .navbar-brand img{
  width: 265px !important;
  object-fit: cover;
 }
  #chat-container{
    max-width: 95% !important;
    max-height: 100% !important;
    right: 20px !important;
    left: 20px !important;
    margin: auto !important;
  }
  #footer-logo{
    font-size: 300%;
  }
}


